
<h3><%= @contact.name %></h3>

<p>Address: <%= @contact.address %></p>
<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>
<p>Favorite: <%= @contact.favorite %></p>

<%= link_to "Edit", edit_contact_path %>

<%= form_tag(contact_path(@contact), method: "delete") do%>
  <%= submit_tag("Delete") %>
<% end %>
<% if @contact.favorite %>
<%= form_tag("/contacts/#{@contact.id}/favorite", method: "patch") do%>
  <%= hidden_field_tag(:favorite, false) %>
  <%= submit_tag("Unfavorite") %>
<% end %>
<% else %>
<%= form_tag("/contacts/#{@contact.id}/favorite", method: "patch") do%>
  <%= hidden_field_tag(:favorite, true) %>
  <%= submit_tag("Favorite") %>
<% end %>
<% end %>
