
<h3><%= @contact.name %></h3>

<p>Address: <%= @contact.address %></p>
<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>

<%= form_tag(contact_path(@contact), method: "delete") do%>
  <%= submit_tag("Delete") %>
<% end %>
