<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>SUPER AWESOME SHORTENER!</h1>

<%= yield %>

<hr>
<%= link_to "Home", "/" %>
<%= link_to "URLs", urls_path %>
<%= link_to "New", new_url_path %>
<%= link_to "Most visited", most_visited_pages_path %>
</body>
</html>
