<!DOCTYPE html>
<html>
  <head>
    <title>Auctions</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <hr>
    <footer>
      <%= link_to "Users", users_path %>
      <%= link_to "New user", new_user_path %>
    </footer>

    <% if session[:user_id] %>
      <%= form_tag("/users/login", method: "delete") do%>
        <%= submit_tag("Log out") %>
      <% end %>
    <% end %>

  </body>
</html>
