<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <% @concerts.each do |concert| %>
    <div class="jumbotron">
      <h1>
        <%= concert.band %>
      </h1>
      <p>
        <%= concert.date.strftime("%d.%m.%y") %>
      </p>
      <p>
        <%= "#{concert.price} €" %>
      </p>
      <p>
        <%= "#{concert.venue} - #{concert.city}" %>
      </p>

      <p>
        <%= link_to "Details", concert_path(concert), class: "btn btn-primary btn-lg" %>
      </p>
    </div>
    <% end %>
  </div>
</div>
