<div class="row">

  <% @concerts.each do |concert| %>
  <div class="jumbotron col-md-8 col-md-offset-2">
    <h1>
      <%= concert.band %>
    </h1>
    <p>
      <%= concert.date.strftime("%d.%m.%y - %H:%M") %>
    </p>
    <p>
      <%= "#{concert.price} €" %>
    </p>
    <p>
      <%= "#{concert.venue} - #{concert.city}" %>
    </p>

    <p>
      <%= link_to "Details", concert_path(concert), class: "btn btn-primary btn-lg" %>
    </p>
  </div>
  <% end %>

</div>
