<div class="row">

  <%= render "aside_concerts", concerts: @concerts_this_month %>

  <div class="col-md-8">
    <h2 class="text-center">Concerts today!</h2>
    <% @concerts_today.each do |concert| %>
    <div class="jumbotron">
      <h1>
        <%= concert.band %>
      </h1>
      <p>
        <%= concert.date.strftime("%d.%m.%y") %>
      </p>
      <p>
        <%= "#{concert.price} €" %>
      </p>
      <p>
        <%= "#{concert.venue} - #{concert.city}" %>
      </p>

      <p>
        <%= link_to "Details", concert_path(concert), class: "btn btn-primary btn-lg" %>
      </p>
    </div>
    <% end %>
  </div>
</div>
