<h3><%= @project.name %></h3>
<p><%= @project.description %></p>
<p><%= @project.total_hours_in_month %> hours this month</p>

<%= link_to "Entries", project_entries_path(@project) %>
<%= link_to "New entrie", new_project_entry_path(@project) %>
