<h3><%= @product.title %></h3>
<p><%= @product.description %></p>
<p><%= @product.deadline.strftime("Deadline on %d/%m/%Y") %></p>
<%= form_tag(user_product_path(@product.user, @product), method: "delete") do%>
  <%= submit_tag("Delete") %>
<% end %>


<%= render 'layouts/errors', model: @bid  %>

<%= form_for [@product.user, @product, @bid] do |f| %>
<div>
  <%= f.label :email%>
  <%= f.text_field :email%>
</div>

<div>
  <%= f.label :amount%>
  <%= f.number_field :amount%>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>
