
<% if session[:user_id] == @product.user.id %>
  <%= form_tag(user_product_path(@product.user, @product), method: "delete") do%>
    <%= submit_tag("Delete") %>
  <% end %>
<% end %>

<h3><%= @product.title %></h3>
<p><%= @product.description %></p>
<p><%= @product.deadline.strftime("Deadline on %d/%m/%Y") %></p>

<% if @product.deadline >= Date.current %>
  <% if @product.bids.size > 1 %>
  <p>
    <%= "Last bid: #{@product.bids.last(2).first.user.name} - #{@product.bids.last(2).first.amount}" %>
  </p>
  <% else %>
    <p>
      No bids here!!
    </p>
    <p><%= "Minimum bid: #{@product.minimum_bid}" %></p>
  <% end %>


  <% if @product.user.id != session[:user_id] %>
    <hr/>
    <div>
      <%= render 'layouts/errors', model: @bid  %>

      <%= form_for @bid, :url => user_product_bids_path(product_id: @product.id) do |f| %>
      <p>
        <%= f.label :amount %><br/>
        <%= f.number_field :amount %>
      </p>
      <p>
        <%= f.submit "Submit" %>
      </p>
      <% end %>

    </div>
  <% end %>
<% else %>
  <% if @product.bids.size > 1 %>
    <p><%= "Winner bid: #{@product.bids.last(2).first.user.name} - #{@product.bids.last(2).first.amount}" %></p>
  <% end %>
<% end %>
